
<div id="container">
    <header>
        <h3>Land of Fitness Gym</h3>
        <img class="logo" src="../../assets/images/final_logo.svg" alt="logo">
        <div class="bg"></div>
        <div class="bg bg2"></div>
        <div class="bg bg3"></div>
    </header>
    
    <div id="article">
        <nav>
            <ul>
                <li>
                    <a routerLink="/fooldal-component" routerLinkActive="active" class="btn btn-secondary btn-lg btn-block">FŐMENÜ</a>
                </li>
                <li>
                    <a routerLink="/regisztracio-component" routerLinkActive="active" class="btn btn-secondary btn-lg btn-block">REGISZTRÁCIÓ</a>
                </li>
                <li>
                    <a class="btn btn-secondary btn-lg btn-block" routerLink="/bejelentkezes-component" routerLinkActive="active">BELÉPÉS</a>
                </li>
                <li>
                    <a routerLink="/berlet-component" routerLinkActive="active" class="btn btn-secondary btn-lg btn-block">BÉRLET</a>
                </li>
                <li>
                    <a class="btn btn-secondary btn-lg btn-block" routerLink="/edzo-component" routerLinkActive="active">EDZŐK</a>
                </li>
                <li>
                    <a routerLink="/felszereles-component" routerLinkActive="active" class="btn btn-secondary btn-lg btn-block">FELSZERELÉS</a>
                </li>
                <li>
                    <a class="btn btn-secondary btn-lg btn-block" routerLink="/bufe-component" routerLinkActive="active">BÜFÉ</a>
                </li>
                <li>
                    <a class="btn btn-secondary btn-lg btn-block" routerLink="/karrier-component" routerLinkActive="active">KARRIER</a>
                </li>
            </ul>
        </nav>
        <div class="middle">
            <a  ><img  src="../../assets/images/5.jpg" alt="5. kép"></a>
            <p>Étrendkiegészítőink hatalmas választéka csak rád vár! Fogyáshoz, tömegnöveléshez, vagy akár csak a kiegyensúlyozott mindennapokhoz.
                Nálunk mindent megtalálsz. Ne habozz! Csapj le rájuk azonnal!
            </p>
            <table id="table">
                <tr class="tr1">
                   <th>Megnevezés</th>
                   <th>Ár</th>
                   <th>készlet</th>
                   <th style="display: none;">id</th>
                </tr>
                <tr class="tr2" *ngFor="let termek of termekek">
                
                    <td class="btn btn-rendel" onclick="document.getElementById('myModal').style.display='block'" id="rendel">{{termek.termek_nev}}</td>
                    <td id="ar">{{termek.ar}} Ft</td>
                    <td>{{termek.keszlet}} cs</td>
                    <td id="termekid" style="display: none;">{{termek.termekid}}</td>
                
                </tr>
                
                <div class="modal" id="myModal">
                    <div class="modal-content">
                        <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Mennyiség</label>
                            <input type="number" class="form-control" id="mennyiseg">
                        </div>
                        <div class="btn btn-secondary btn-block" onclick="document.getElementById('myModal').style.display='none';
                        let ar = document.getElementById('ar');
                        let termekid = document.getElementById('termekid');
                        let input = document.getElementById('mennyiseg').value;
                        alert(termekid);">Megrendelem</div>
                    </div>
                    
                </div>
            </table>
            
        </div>
        
    </div>
    <footer>
        <p>© Kovácsfi Alex/Kovács Richárd/Kuczi Dániel</p>
    </footer>
</div>
<script >
    function vasarlas(){
        
    }
</script>