@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
    font-family: 'Bebas Neue', sans-serif;
    margin-top:50px ;
}
header{
    height: 50px;
    padding: 10px;
    font-family: 'Bebas Neue',sans-serif;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    background-image:linear-gradient(to top ,#000000, #000000, rgba(255, 255, 255, 0));
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: rgb(255, 255, 255);
    grid-area: header;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "logo h3";
    place-content: center;
    place-items: center;
}
h3{
    grid-area: h3;
}
.bg {
    background-image: linear-gradient(-60deg, rgb(10, 10, 10) 50%, rgb(66, 66, 66) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
.logo{
    width: 70px;
    bottom: 5px;
    grid-area: logo;
    place-content: center;
}

#container{
    width:1000px;    
    height: auto;  
    margin: auto;  
    margin-bottom: 30px;
    display: grid;
    grid-template-columns:  1, auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "header"
    "content"
    "footer";
        
}
#article {
    background-color: #adadad;
    color: black;
    grid-area: content;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto ;
    gap: 20px;
    grid-template-areas: 
    "nav middle";
}
.middle{
    left: 20px;
    padding-top: 15px;
    grid-area: middle;
    text-align: center;
    place-content: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "middle-pic"
    "middle-caption"
    "table";
}
p{
    margin: 20px, 20px;
}
#table{
    width: 800px;
    grid-area: table;
    text-align: left;
    margin-right: 10px;
    margin-bottom: 20px;
}
.tr2{
    background-color: #777;
}
.tr2:hover {
    background-color: rgba(255, 0, 0, 0.645);
}
.tr1{
    background-color: #000;
    font-style: normal;
    color: #fefefe;
    font-size: large;
    letter-spacing: 0.5px;
}
nav {
    width: 150px;
    background: #8d8d8d; 
    grid-area: nav;
}
nav ul {
    list-style-type: none;
    padding: 10px;
    
    
}
nav ul li {    
    padding-top: 20px;
    padding-bottom: 20px;
}
.btn.btn-secondary{
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}
.btn-rendel{
    text-align: left;
    font-size: 1rem;
    width: 150px;
}
#rendeles{
    width: 100px;
    margin-bottom: 15px;
}
footer {
    height: 50px;
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    grid-area: footer;
}
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    
}
.modal-content {
    display: grid;
    border-radius: 0;
    border-width: 0;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: fit-content; /* Could be more or less, depending on screen size */
    grid-template-columns: repeat(1 , 200px);
    grid-template-rows: repeat(5, auto);
    
    grid-template-areas: 
    "profile-cross"
    "profile-picture"
    "profile-username"
    "email-adress"
    "rank"
    "notifications";
}
.tableContainer{
    height: 200px;
    overflow-y: scroll;
}

.close {
    color: red;
    text-align: right;
    font-size: 28px;
    font-weight: bold;
    grid-area: profile-cross;
}



.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 1000px){
    #container{
        width: 600px;

    }
    .middle{
        align-items: center;
        justify-items: top;
    }
    img{
        margin-top: 5px;
        width: 400px;
    }
    #table{
        width: 400px;
        font-size: 15px;
    }
    .tr2{
        border-bottom: 1px solid #000;
    }
}
@media (max-width: 650px){
    #container{
        width: 300px;
        margin: 75px;
        align-content: center;
    }
    nav{
        width: 110px;
        font-weight: 200;
    }
    img{
        margin-right: 15px;
        width: 300px;
    }
    .btn.btn-secondary{
        font-size: 15px;
        font-weight: 200;
    }
    
    #table{
        width: 280px;
        font-size: 15px;
    }
}
@media (max-width:500px){
    #container{
        width: 200px;
        margin: 0px;
        padding-right: 10px;
    }
    img{
        width: 180px;
    }
    .tr1{
        font-size: 16px;
    }
    
    p{
        width: 150px;
        text-align: center;
    }
    #table{
        width: 200px;
        font-size: 12px;
    }
    .btn-rendel{
        font-size: 12px;
        width: 50px;
    }
    footer{
        font-size: 12px;
    }
    .keszlet{
        width: 50px;
    }
}
@media (max-width:400px){
    #container{
        margin: 25px;
    }
}