<div id="container">
    <header>
        <h3>Land of Fitness Gym</h3>
        <img class="logo" src="../../assets/images/final_logo.svg" alt="logo">
        <div class="bg"></div>
        <div class="bg bg2"></div>
        <div class="bg bg3"></div>
    </header>
    <div id="article">
<!-- Oldalsó navigációs sáv -->
        <nav>
            <ul>
                <li>
                    <a routerLink="/fooldal-component" routerLinkActive="active" class="btn btn-secondary btn-lg btn-block">FŐMENÜ</a>
                </li>
                <li>
                    <a routerLink="/regisztracio-component" routerLinkActive="active" class="btn btn-secondary btn-lg btn-block">REGISZTRÁCIÓ</a>
                </li>
                <li>
                    <a class="btn btn-secondary btn-lg btn-block" routerLink="/bejelentkezes-component" routerLinkActive="active">Belépés</a>
                </li>
                <li>
                    <a routerLink="/felszereles-component" routerLinkActive="active" class="btn btn-secondary btn-lg btn-block">FELSZERELÉS</a>
                </li>
                <li>
                    <a routerLink="/edzo-component" routerLinkActive="active" class="btn btn-secondary btn-lg btn-block">EDZŐK</a>
                </li>
                <li>
                    <a class="btn btn-secondary btn-lg btn-block" routerLink="/bufe-component" routerLinkActive="active">BÜFÉ</a>
                </li>
                <li>
                    <a class="btn btn-secondary btn-lg btn-block" routerLink="/bejelentkezes-component" routerLinkActive="active" (click)="TermekBelepesHiba()">TERMÉKEK</a>
                </li>
                <li>
                    <a class="btn btn-secondary btn-lg btn-block" routerLink="/karrier-component" routerLinkActive="active">KARRIER</a>
                </li>
            </ul>
        </nav>
        <!-- Tartalmi rész -->
        <div class="middle">
            <a><img src="../../assets/images/1.jpg" alt="1. kép"></a>
            <h4>Nyitvatartás:</h4>
            <p>9796 Felsóaljvár, Akadémia u. 32.
            </p>
            <table id="table">
                <thead>
                    <tr class="tr1">
                        <th>Hétköznap</th>
                        <th>Ünnepnap</th>
                        <th>Munkaszüneti-nap</th>
                        <th>Hétvége</th>
                     </tr>
                </thead>
                <tbody>
                <tr class="tr2">
                    <td>07:00-20:00</td>
                    <td>09:00-17:00</td>
                    <td>08:00-17:00</td>
                    <td>08:00-17:00</td>
                 </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- footer -->
    <footer>
        <p>© Kuczi Dániel / Kovácsfi Alex / Kovács Richárd</p>
    </footer>
</div>