
    <div id="container">
        <header>
            <h3>Land of Fitness Gym</h3>
            <img class="logo" src="../../assets/images/final_logo.svg" alt="logo">
            <div class="bg"></div>
            <div class="bg bg2"></div>
            <div class="bg bg3"></div>
        </header>
        <div id="article">
            <nav>
                <ul>
                    <li>
                        <a routerLink="/fooldal-component" routerLinkActive="active" class="btn btn-secondary btn-lg btn-block">FŐMENÜ</a>
                    </li>
                    <li>
                        <a class="btn btn-secondary btn-lg btn-block" routerLink="/bejelentkezes-component" routerLinkActive="active">BELÉPÉS</a>
                    </li>
                    <li>
                        <a routerLink="/berlet-component" routerLinkActive="active" class="btn btn-secondary btn-lg btn-block">BÉRLET</a>
                    </li>
                    <li>
                        <a class="btn btn-secondary btn-lg btn-block" routerLink="/edzo-component" routerLinkActive="active">EDZŐK</a>
                    </li>
                    <li>
                        <a routerLink="/felszereles-component" routerLinkActive="active" class="btn btn-secondary btn-lg btn-block">FELSZERELÉS</a>
                    </li>
                    <li>
                        <a class="btn btn-secondary btn-lg btn-block" routerLink="/bufe-component" routerLinkActive="active">BÜFÉ</a>
                    </li>
                    <li>
                        <a class="btn btn-secondary btn-lg btn-block" routerLink="/termek-component" routerLinkActive="active">TERMÉKEK</a>
                    </li>
                    <li>
                        <a class="btn btn-secondary btn-lg btn-block" routerLink="/karrier-component" routerLinkActive="active">KARRIER</a>
                    </li>
                </ul>
            </nav>
        
        
            <div class="middle">
                
                <form #addForm="ngForm" (ngSubmit)="onAddFelhasznalo(addForm)">


                    <div class="form-group">
                       <label for="name">Felhasznalonev</label>
                       <input type="text" ngModel name="felhasznalonev" class="form-control" id="felhasznalonev" placeholder="Name" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Jelszó</label>
                        <input type="password" ngModel name="jelszo" class="form-control" id="jelszo" placeholder="Jelszó" required>
                     </div>
                    <div class="form-group">
                       <label for="vezeteknev">Vezetéknév</label>
                       <input type="text" ngModel name="felh_vezeteknev" class="form-control" id="felh_vezeteknev" placeholder="Vezeteknev" required>
                    </div>
                    <div class="form-group">
                       <label for="phone">Keresztnév</label>
                       <input type="text" ngModel name="felh_keresztnev" class="form-control" id="felh_keresztnev" placeholder="Keresztnev" required>
                    </div>
                    <div class="form-group">
                       <label for="birthday">Születési dátum</label>
                       <input type="date" ngModel name="szuletesi_datum" class="form-control" id="szuletesi_datum" placeholder="SzuletesiDatum" required>
                    </div>
                    <div class="form-group">
                       <label for="email">Email</label>
                       <input type="email" ngModel name="felh_email" class="form-control" id="felh_email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                       <label for="phone">Telefon</label>
                       <input type="text" ngModel name="felh_telefon" class="form-control" id="felh_telefon" placeholder="Telefon" required>
                    </div>
                    <button [disabled]="addForm.invalid" type="submit" class="btn btn-secondary btn-regisztracio">Regisztrálok</button>
                </form>
            </div>
            
        </div>
        <footer>
            <p>© Kovácsfi Alex / Kovács Richárd / Kuczi Dániel</p>
        </footer>
    </div>

