
    <div id="container">
        <header>
            <h3>Land of Fitness Gym</h3>
            <img class="logo" src="../../assets/images/final_logo.svg" alt="logo">
            <div class="bg"></div>
            <div class="bg bg2"></div>
            <div class="bg bg3"></div>
        </header>
        <div id="article">
            <nav>
                <ul>
                    <li>
                        <a routerLink="/fooldal-component" routerLinkActive="active" class="btn btn-secondary btn-lg btn-block">FŐMENÜ</a>
                    </li>
                    <li>
                        <a routerLink="/regisztracio-component" routerLinkActive="active" class="btn btn-secondary btn-lg btn-block">REGISZTRÁCIÓ</a>
                    </li>
                    <li>
                        <a class="btn btn-secondary btn-lg btn-block" routerLink="/bejelentkezes-component" routerLinkActive="active">Belépés</a>
                    </li>
                    <li>
                        <a routerLink="/kapcsolat-component" routerLinkActive="active" class="btn btn-secondary btn-lg btn-block">KAPCSOLAT</a>
                    </li>
                    <li>
                        <a class="btn btn-secondary btn-lg btn-block" routerLink="/edzo-component" routerLinkActive="active">EDZŐK</a>
                    </li>
                    <li>
                        <a routerLink="/felszereles-component" routerLinkActive="active" class="btn btn-secondary btn-lg btn-block">FELSZERELÉS</a>
                    </li>
                    <li>
                        <a class="btn btn-secondary btn-lg btn-block" routerLink="/bufe-component" routerLinkActive="active">BÜFÉ</a>
                    </li>
                    <li>
                        <a class="btn btn-secondary btn-lg btn-block" routerLink="/bejelentkezes-component" routerLinkActive="active" (click)="TermekBelepesHiba()">TERMÉKEK</a>
                    </li>
                </ul>
            </nav>
        
        
            <div class="middle">
                <a><img src="../../assets/images/6.jpg" alt="5. kép"></a>
                <h2>Vedd fel velünk a kapcsolatot:</h2>
                <table id="table">
                    <tr class="tr tr1">
                        <th >Tel.:</th>
                        <th>E-mail</th>
                    </tr>
                    <tr class="tr tr2"> 
                        <td>06 55 442 2331</td>
                        <td>karrier.lof@lofgym.hu</td>
                    </tr>
                </table>
                <table class="smallTable">
                    <tr class="tr tr1">
                        <th >Tel.:</th>
                    </tr>
                    <tr class="tr tr2"> 
                        <td>06 55 442 2331</td>
                    </tr>
                    <tr>
                        <th>E-mail</th>
                    </tr>
                    <tr>
                        <td>karrier.lof@lofgym.hu</td>
                    </tr>
                </table>
                
            </div>
            
        </div>
        <footer>
            <p>© Kovácsfi Alex / Kovács Richárd / Kuczi Dániel</p>
        </footer>
    </div>

