
    <div id="container">
        <header>
            <h3>Land of Fitness Gym</h3>
            <img class="logo" src="../../assets/images/final_logo.svg" alt="logo">
            <div class="bg"></div>
            <div class="bg bg2"></div>
            <div class="bg bg3"></div>
        </header>
        <div id="article">
            <nav>
                <ul>
                    <li>
                        <a href="fo.html" class="btn btn-secondary btn-lg btn-block">FŐMENÜ</a>
                    </li>
                    <li>
                        <a href="regist_kuczi_daniel/regist.html" target="_blank"
                            class="btn btn-secondary btn-lg btn-block">REGISZTRÁCIÓ</a>
                    </li>
                    <li>
                        <a href="" target="_blank" class="btn btn-secondary btn-lg btn-block">ÁRTÁBLÁZAT</a>
                    </li>
                    <li>
                        <a class="btn btn-secondary btn-lg btn-block" href="login.html" target="_blank">BELÉPÉS</a>
                    </li>
                </ul>
            </nav>
        
        
            <div class="middle">
                <a><img src="../../assets/images/1.jpg" alt="5. kép"></a>
                <p>Ideje az életmódváltásnak! Az első alkalom ingyenes utána 1500 ft/nap. Havi bérletünk 5000 ft. Vágj bele!
                </p>
                <table id="table">
                    <tr class="tr tr1">
                        <th>Bérlettípus</th>
                        <th>Ár</th>
                    </tr>
                    <tr class="tr tr2">
                        <td>Diák Havi</td>
                        <td>4000 Ft</td>
                    </tr>
                    <tr class="tr tr2">
                        <td>Felnőtt Havi</td>
                        <td>5000 Ft</td>
                    </tr>
                    <tr class="tr tr2">
                        <td>Nyugdíjas</td>
                        <td>4500 Ft</td>
                    </tr>
                    <tr class="tr tr2">
                        <td>Csecsemő</td>
                        <td>500 Ft</td>
                    </tr>
                </table>
            </div>
            
        </div>
        <footer>
            <p>© Kuczi Dániel</p>
        </footer>
    </div>

