    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div id="container">
        <header>
            <h3>Land of Fitness Gym</h3>
            <img class="logo" src="../../assets/images/final_logo.svg" alt="logo">
            
        </header>
        <div id="article">
            <nav>
                <ul>
                    <li>
                        <a routerLink="/fooldal-component" routerLinkActive="active" class="btn btn-secondary btn-lg btn-block">FŐMENÜ</a>
                    </li>
                    <li>
                        <a routerLink="/regisztracio-component" routerLinkActive="active" class="btn btn-secondary btn-lg btn-block">REGISZTRÁCIÓ</a>
                    </li>
                    <li>
                        <a class="btn btn-secondary btn-lg btn-block" routerLink="/bejelentkezes-component" routerLinkActive="active">BELÉPÉS</a>
                    </li>
                    <li>
                        <a class="btn btn-secondary btn-lg btn-block" routerLink="/edzo-component" routerLinkActive="active">EDZŐK</a>
                    </li>
                    <li>
                        <a routerLink="/felszereles-component" routerLinkActive="active" class="btn btn-secondary btn-lg btn-block">FELSZERELÉS</a>
                    </li>
                    <li>
                        <a class="btn btn-secondary btn-lg btn-block" routerLink="/bufe-component" routerLinkActive="active">BÜFÉ</a>
                    </li>
                    <li>
                        <a class="btn btn-secondary btn-lg btn-block" routerLink="/termek-component" routerLinkActive="active">TERMÉKEK</a>
                    </li>
                    <li>
                        <a class="btn btn-secondary btn-lg btn-block" routerLink="/karrier-component" routerLinkActive="active">KARRIER</a>
                    </li>
                </ul>
            </nav>
        
        
            <div class="middle">
                <a><img class="kep" src="../../assets/images/1.jpg" alt="5. kép"></a>
                <p>Ideje az életmódváltásnak! Az első alkalom ingyenes utána 1500 ft/nap. Havi bérletünk 5000 ft. Vágj bele!
                </p>
                <table id="table">
                    <tr class="tr tr1">
                        <th>Bérlettípus</th>
                        <th>Ár</th>
                    </tr>
                    <tr class="tr tr2" *ngFor="let berlet of berletek" >
                        <td class="btn btn-rendel"  onclick="document.getElementById('myModal').style.display='block'" id="rendel">{{berlet.berlet_tipus}}</td>
                        <td>{{berlet.berlet_ar}} Ft</td>
                    </tr>
                     <div class="modal" id="myModal">
                    <div class="modal-content">
                        <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
                        <div class="form-group">
                            <label >Mennyiség</label>
                            <input type="number" class="form-control" id="mennyiseg">
                            <label >Szállítási cím</label>
                            <input type="text" class="form-control" id="szall-cim">
                        </div>
                        <div class="btn btn-secondary btn-block" onclick="document.getElementById('myModal').style.display='none';let input = document.getElementById('mennyiseg').value;alert(input) ">Megrendelem</div>
                    </div>
                    
                </div>
                </table>
            </div>
            
        </div>
        <footer>
            <p>© Kovácsfi Alex / Kovács Richárd / Kuczi Dániel</p>
        </footer>
    </div>

