<div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div id="container">
        <header>
            <img class="logo" src="../../assets/images/final_logo.svg" alt="logo">
            <h3>Land of Fitness Gym</h3>
        </header>
        <nav>
            <ul>
                <li>
                    <a href="fooldal.component.html" target="_blank" class="btn btn-secondary btn-lg btn-block">FŐMENÜ</a>
                </li>
                <li>
                    <a href="" target="_blank" class="btn btn-secondary btn-lg btn-block">REGISZTRÁCIÓ</a>
                </li>
                <li>
                    <a href="" target="_blank" class="btn btn-secondary btn-lg btn-block">ÁRTÁBLÁZAT</a>
                </li>
                <li>
                    <a class="btn btn-secondary btn-lg btn-block" href="login.html" target="_blank">BELÉPÉS</a>
                </li>
            </ul>
        </nav>
        <article class="content">
            <h1 class="middle">Szolgáltatásaink</h1>
                <div class="picflow_1">
                    <a routerLink="/berlet-component" title="Kattints a képre a további tudnivalókért!" routerLinkActive="active"><img class="thumbnail"
                    src="../../assets/images/1.jpg" alt="kép1"></a>
                    <p class="caption">Havi bérlet</p>
                </div>
                <div class="picflow_2">
                    <a href="" title="Kattints a képre a további tudnivalókért!" target="_blank"><img class="thumbnail"
                    src="../../assets/images/2.jpg" alt="kép2"></a>
                    <p class="caption">Személyi edzőpartner</p>
                </div>
                <div class="picflow_3">
                    <a href="" title="Kattints a képre a további tudnivalókért!" target="_blank"><img class="thumbnail"
                    src="../../assets/images/3.jpg" alt="kép3"></a>
                    <p class="caption">Felszerelésünk</p>
                </div>
                <div class="picflow_4">
                    <a routerLink="/bufe-component" title="Kattints a képre a további tudnivalókért!" routerLinkActive="active"><img class="thumbnail"
                    src="../../assets/images/4.jpg" alt="kép4"></a>
                    <p class="caption">Büfé</p>
                </div>
                <div class="picflow_5">
                    <a routerLink="/termek-component" title="Kattints a képre a további tudnivalókért!" routerLinkActive="active"><img class="thumbnail"
                    src="../../assets/images/5.jpg" alt="kép5"></a>
                    <p class="caption">Étrendkiegészítőink</p>
                </div>
                <div class="picflow_6">
                    <a href="" title="Kattints a képre a további tudnivalókért!" target="_blank"><img class="thumbnail"
                    src="../../assets/images/6.jpg" alt="kép6"></a>
                    <p class="caption">Karrier</p>
                </div>
            <p class="click">Katt a képre a további infokért!</p>
        </article>
        <footer>
            <p>© Kuczi Dániel / Kovácsfi Alex / Kovács Richárd</p>
        </footer>
    </div>