@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
    font-family: 'Bebas Neue', sans-serif;
    margin-top:50px ;
    padding-bottom: 50px;
}
header{
    height: 50px;
    padding: 10px;
    font-family: 'Bebas Neue',sans-serif;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    background-image:linear-gradient(to top ,#000000, #000000, rgba(255, 255, 255, 0));
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: rgb(255, 255, 255);
    grid-area: header;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "logo h3";
    place-content: center;
    place-items: center;
}
h3{
    grid-area: h3;
}
nav ul {
    list-style-type: none;
    padding: 10px;
    
    
}
nav ul li {    
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo{
    width: 70px;
    bottom: 5px;
    grid-area: logo;
    place-content: center;
}
.caption{    
    width: 200px;    
    background-color: black;
    color: white;
    font-style: italic;
    text-align: center;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    grid-area: caption;
}
.description{
    margin: 15px;
}
article {
    float: left;
    width: 850px;
    background-color: #adadad;
    height: auto; 
    color: black;
    grid-area: content;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 20px;
    grid-template-areas: 
    "middle middle middle"
    "picflow_1 picflow_2 picflow_3"
    "picflow_4 picflow_5 picflow_6"
    "click click click";
}
.middle{
    padding-top: 30px;
    text-align: center;
    place-content: center;
    grid-area: middle;
}

.thumbnail{
    width: 200px;
    margin-left: 15px;      
    margin-right: 15px;  
    grid-area: thumbnail;    
}
.picflow_1{
    margin-left: 20px;
    width: 200px;
    grid-area: picflow_1;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "thumbnail"
    "caption";
    place-items: center;
    gap: 0px;
}
.picflow_2{
    width: 200px;
    grid-area: picflow_2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "thumbnail"
    "caption";
    place-items: center;
    gap: 0px;
}
.picflow_3{
    width: 200px;
    grid-area: picflow_3;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "thumbnail"
    "caption";
    place-items: center;
    gap: 0px;
}
.picflow_4{
    margin-left: 20px;
    width: 200px;
    grid-area: picflow_4;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "thumbnail"
    "caption";
    place-items: center;
    gap: 0px;
}
.picflow_5{
    width: 200px;
    grid-area: picflow_5;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "thumbnail"
    "caption";
    place-items: center;
    gap: 0px;
}
.picflow_6{
    width: 200px;
    grid-area: picflow_6;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "thumbnail"
    "caption";
    place-items: center;
    gap: 0px;
}
.bg {
    background-image: linear-gradient(-60deg, rgb(10, 10, 10) 50%, rgb(66, 66, 66) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
#container{
    position: relative;
    width:1000px;      
    margin: auto;  
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
    grid-template-areas: 
    "header header"
    "nav content"
    "footer footer";
        
}
nav {
    width: 150px;
    height: 650px;
    background: #8d8d8d; 
    grid-area: nav;
}
.click{
    grid-area: click;
    text-align: center;
}
.btn.btn-secondary{
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}
footer {
    height: 50px;
    clear: both;
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    grid-area: footer;
}
